DATABRICKS_WORKSPACE_HOST = your-workspace-host-here
DATABRICKS_API_TOKEN = your-api-token-here

CATALOG_NAME = catalog-name-here

VOLUME_PATH = volume-path-here

SQL_WAREHOUSE_HTTP_PATH = your-sql-warehouse-http-path-here